
.demo li {
    display: inline-block !important;
    margin: 0px;
    padding-left: 3px;
    padding-right: 3px;
    border-right: 1px solid black;
}
.demo {
    padding-left: 0px !important;
    list-style: none !important;
    margin: auto;
    text-align: center;
    word-wrap: break-word !important;
}
.attr2 {
    font-size: small;
}

.centre {
     display:block;
    margin:auto;
    text-align: center;
}

.identifier {
    max-width:300px;
}
.region {
    max-width:100px;
}

.highlight {
    background-color: gainsboro;
    box-shadow: 0.5px 0.5px 5px gray;
    border: none;
}

.standout-image {
    box-shadow: 0.5px 0.5px 5px gray;
    border: 1px solid black !important;
}

#iiif-image-api-div { 
    position: relative; 
    background-image: url(https://ids.lib.harvard.edu/ids/iiif/25286607/full/500,/0/default.jpg); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
}

#highlight { 
    position: absolute; 
    top: 10px; 
    left: 100px; 
    width: 50px; 
    height: 50px; 
    background-color: white;  
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;               /* Good browsers */
}
